@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700,400&display=swap');

@media(max-width:1440px){
 
body{
    font-family: 'Poppins', sans-serif;  
    margin: 0px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    
      
}
.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    background-color: #2D25A0;
    
    height: 800px;
    background-position: center;
    background-size: cover;
    
    
    
}

.heading{    
    margin-left: 156px;
    margin-top: 207px;
    margin-right: 27px;
    
      
}
h2{
    font-size:64px;
    line-height: 80px;
    color: #FFFFFF;
    font-style: bold;
    width: 485px;
    
    

}
.link-button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;    
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
.arrow{
    margin-left: 8px;
}
.header-image img{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
    margin-top: 153px;
    margin-right: 140.99px;
    margin-bottom: 86px; 


}
.header-image:hover{    
    transform:translate(100px);
    transition: transform 6s ease-out;
}
.player-container{
margin-left: 180px;
margin-top: 70px;
margin-right: 210px;

}
.players{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px; 
    grid-column-gap: 27px;  
        
        
    
}
.player{    
    width: 330px;
    height: 474px;
    left: 180px;
    top: 747px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    align-items: center;
}
h3{
    font-size: 24px;
}
    
.paragraph{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400px;
    line-height: 26px;
}

.footer{
    margin-top: 750px;
    margin-left: 475px;
    margin-right: 481.13px;
    margin-bottom: 63;
    width: 483.87px;
    height: 213px;
}
.logo img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.icon{
    margin-left: 156.94px;
    
}
.icon-background{    
    color: gainsboro;
}

.fa-stack-1x{
    color: gray;
    width: 17.07px;
    height:17.07px;
   
}
   
.footer-line{
    text-align: center;
    margin-top: 20px;
    margin-left: 123.94px;
    margin-right: 123.94px;

}
}
@media(max-width:360px) {
    body {
        background-color: lightblue;
      }
    
}

